.image {
  width: 100%;
}

.container {
  float: left;
  width: 100%;
  padding-left: 30px
  padding-right: 30px;
}
body {
  float: left;
}
p {
  padding-right: 15px;
  padding-left: 15px;
  font-family: Georgia;
  font-size: 15px;
  margin-top: 10px;
}

h1 {
  font-family: Georgia;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.card {
  position: relative;
  float: left;
  width: 32%;
  min-width: 288px;
  text-align: right;
  margin-right: 6px;
  margin-bottom: 6px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;

}

.card__back {
  position: absolute;
  top: 25px;
  left: 0;
  width: 90%;
  bottom: 25px;
}

.card__front,
.card__back { 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.card__front {
  /*
  background-color: lavender;*/
  overflow: hidden;
}

.card__back {
  background-color: lavender;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  overflow-y: scroll;
  z-index:-1;
}

.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  z-index:0;
}